.{
  margin : 0px 0px;
  padding: 0px 0px;
}

html,body{
  height: 100%;
}

#Greetings{
  height: 100%;
  width: 100%;
  font: 0/0 a;
  text-align: center;
  animation : rainbox 15s linear infinite;
  z-index : 10;
}
#msg{
  display: inline-block;
  vertical-align: middle;
  font: 10vh/1 Gorgia,sans-serif;
  font-weight : 900;
  padding : 15px;

  background-color: rgb(236, 236, 236);
  border-radius: 10% 10% 10% 10%;
  animation : border 1.5s ease-in-out alternate infinite,
              rainbox_color 15s linear infinite;
}


#Greetings:before{
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  /* vertical alignment of the inline element */
  height: 100%;
}

.colors{
  border-radius : 50%;
  position : absolute;
  box-shadow : black 7px 7px 15px 0px;
  z-index: 1;

  animation : popUp 1.5s cubic-bezier(.84,-0.23,.67,1.34),
              float 1.5s 1.5s ease-in-out alternate infinite;
}

.colors:hover{
  cursor: pointer;
}

footer{
  display:block;
  position: fixed;
  width : 100%;
  height : 15px;
  z-index: 0px;

  font: 10px/1 Arial.sans-serif;
  padding : 2px;
  background-color: white;
  color : red;
  bottom : 0;
  left : 0;
}

@keyframes popUp{
  0% {transform: scale(0.0);}
  100%{transform: scale(0.8);}
}
@-webkit-keyframes popUp{
  0% {-webkit-transform: scale(0.0);}
  100%{-webkit-transform: scale(0.8);}
}
@-moz-keyframes popUp{
  0% {-moz-transform: scale(0.0);}
  100%{-moz-transform: scale(0.8);}
}
@-o-keyframes popUp{
  0% {-o-transform: scale(0.0);}
  100%{-o-transform: scale(0.8);}
}

@keyframes float{
  0%{transform : scale(0.9);box-shadow: black 7px 7px 10px 0px;}
  100%{transform : scale(1.1);box-shadow: black 7px 7px 20px 0px;}
}
@-webkit-keyframes float{
  0%{transform : scale(0.9);box-shadow: black 7px 7px 10px 0px;}
  100%{transform : scale(1.1);box-shadow: black 7px 7px 20px 0px;}
}
@-moz-keyframes float{
  0%{-moz-transform : scale(0.9);box-shadow: black 7px 7px 10px 0px;}
  100%{-moz-transform : scale(1.1);box-shadow: black 7px 7px 20px 0px;}
}
@-o-keyframes float{
  0%{-o-transform : scale(0.9);box-shadow: black 7px 7px 10px 0px;}
  100%{-o-transform : scale(1.1);box-shadow: black 7px 7px 20px 0px;}
}
@keyframes rainbox{
  from { background-color: rgba(255, 0, 0,0.3); }
  14%{ background-color: rgba(255, 127, 0,0.3); }
  29%{ background-color: rgba(255, 255, 0,0.3); }
  43%{ background-color: rgba(0, 255, 0,0.3);   }
  57%{ background-color: rgba(0, 0, 255,0.3);   }
  71%{ background-color: rgba(75, 0, 130,0.3);  }
  86%{ background-color: rgba(139, 0, 255,0.3); }
  to { background-color: rgba(255, 0, 0,0.3);   }
}
@-webkit-keyframes rainbox{
  from { background-color: rgba(255, 0, 0,0.3); }
  14%{ background-color: rgba(255, 127, 0,0.3); }
  29%{ background-color: rgba(255, 255, 0,0.3); }
  43%{ background-color: rgba(0, 255, 0,0.3);   }
  57%{ background-color: rgba(0, 0, 255,0.3);   }
  71%{ background-color: rgba(75, 0, 130,0.3);  }
  86%{ background-color: rgba(139, 0, 255,0.3); }
  to { background-color: rgba(255, 0, 0,0.3);   }
}
@-moz-keyframes rainbox{
  from { background-color: rgba(255, 0, 0,0.3); }
  14%{ background-color: rgba(255, 127, 0,0.3); }
  29%{ background-color: rgba(255, 255, 0,0.3); }
  43%{ background-color: rgba(0, 255, 0,0.3);   }
  57%{ background-color: rgba(0, 0, 255,0.3);   }
  71%{ background-color: rgba(75, 0, 130,0.3);  }
  86%{ background-color: rgba(139, 0, 255,0.3); }
  to { background-color: rgba(255, 0, 0,0.3);   }
}
@-o-keyframes rainbox{
  from { -o-background-color: rgba(255, 0, 0,0.3); }
  14%{ -o-background-color: rgba(255, 127, 0,0.3); }
  29%{ -o-background-color: rgba(255, 255, 0,0.3); }
  43%{ -o-background-color: rgba(0, 255, 0,0.3);   }
  57%{ -o-background-color: rgba(0, 0, 255,0.3);   }
  71%{ -o-background-color: rgba(75, 0, 130,0.3);  }
  86%{ -o-background-color: rgba(139, 0, 255,0.3); }
  to { -o-background-color: rgba(255, 0, 0,0.3);   }
}
@keyframes rainbox_color{
  from { text-fill-color: rgba(255, 0, 0, 0.9); }
  14%{ text-fill-color: rgba(255, 127, 0, 0.9); }
  29%{ text-fill-color: rgba(255, 255, 0, 0.9); }
  43%{ text-fill-color: rgba(0, 255, 0, 0.9);   }
  57%{ text-fill-color: rgba(0, 0, 255, 0.9);   }
  71%{ text-fill-color: rgba(75, 0, 130, 0.9);  }
  86%{ text-fill-color: rgba(139, 0, 255, 0.9); }
  to { text-fill-color: rgba(255, 0, 0, 0.9);   }
}
@-webkit-keyframes rainbox_color{
  from { -webkit-text-fill-color: rgba(255, 0, 0, 0.9); }
  14%{ -webkit-text-fill-color: rgba(255, 127, 0, 0.9); }
  29%{ -webkit-text-fill-color: rgba(255, 255, 0, 0.9); }
  43%{ -webkit-text-fill-color: rgba(0, 255, 0, 0.9);   }
  57%{ -webkit-text-fill-color: rgba(0, 0, 255, 0.9);   }
  71%{ -webkit-text-fill-color: rgba(75, 0, 130, 0.9);  }
  86%{ -webkit-text-fill-color: rgba(139, 0, 255, 0.9); }
  to { -webkit-text-fill-color: rgba(255, 0, 0, 0.9);   }
}
@-moz-keyframes rainbox_color{
  from { -moz-text-fill-color: rgba(255, 0, 0, 0.9); }
  14%{ -moz-text-fill-color: rgba(255, 127, 0, 0.9); }
  29%{ -moz-text-fill-color: rgba(255, 255, 0, 0.9); }
  43%{ -moz-text-fill-color: rgba(0, 255, 0, 0.9);   }
  57%{ -moz-text-fill-color: rgba(0, 0, 255, 0.9);   }
  71%{ -moz-text-fill-color: rgba(75, 0, 130, 0.9);  }
  86%{ -moz-text-fill-color: rgba(139, 0, 255, 0.9); }
  to { -moz-text-fill-color: rgba(255, 0, 0, 0.9);   }
}
@-o-keyframes rainbox_color{
  from { -o-text-fill-color: rgba(255, 0, 0, 0.9); }
  14%{ -o-text-fill-color: rgba(255, 127, 0, 0.9); }
  29%{ -o-text-fill-color: rgba(255, 255, 0, 0.9); }
  43%{ -o-text-fill-color: rgba(0, 255, 0, 0.9);   }
  57%{ -o-text-fill-color: rgba(0, 0, 255, 0.9);   }
  71%{ -o-text-fill-color: rgba(75, 0, 130, 0.9);  }
  86%{ -o-text-fill-color: rgba(139, 0, 255, 0.9); }
  to { -o-text-fill-color: rgba(255, 0, 0, 0.9);   }
}

@keyframes border{
  from { box-shadow: black 0px 25px 0px 10px;  }
  to { box-shadow: black 0px 15px 0px 10px;}
}
@-webkit-keyframes border{
  from { box-shadow: black 0px 25px 0px 10px;  }
  to { box-shadow: black 0px 15px 0px 10px;}
}
@-moz-keyframes border{
  from { box-shadow: black 0px 25px 0px 10px;  }
  to { box-shadow: black 0px 15px 0px 10px;}
}
@-o-keyframes border{
  from { box-shadow: black 0px 25px 0px 10px;  }
  to { box-shadow: black 0px 15px 0px 10px;}
}
/*
@keyframes puff{
  from { opacity : 1.0;}
  to {opacity : 0.0;transform: translate3d(10,10,0);}
}
*/
